:root {
  --link-hover-color: #2196f3;
  --color-white: #ffffff;
  --color-paragraph: #757575;
  --footer-color: #2f303a;
  --header-color: #212121;
  --color-black: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
}

.about-list {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.header {
  background: var(--color-white);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-cont {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.btn {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--color-white);
  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
}
.btn:focus,
.btn:hover {
  color: var(--color-white);
  background: var(--link-hover-color);
}
img {
  display: block;
}

.header-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-hover-color);
  display: flex;
  align-items: center;
  padding-right: 93px;
}
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.link {
  color: inherit;
}
.hero-title {
  color: var(--color-white);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 452px 280px;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.hero {
  background-color: #2f303a;
  margin-bottom: 94px;
}

.about {
  margin-bottom: 94px;
}
.doing {
  margin-bottom: 94px;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--color-black);
  padding-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-row {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-current {
  color: var(--link-hover-color);
}
.header-row:hover,
:focus {
  color: var(--link-hover-color);
}
.header-link:hover,
:focus {
  color: var(--link-hover-color);
}
.about-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.about-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  padding-bottom: 10px;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-paragraph);
  padding-right: 30px;
}
.header-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--color-paragraph);
  padding-right: 50px;
}
.header-link-mail:hover,
.header-link-mail:focus {
  color: var(--link-hover-color);
}

.header-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--color-paragraph);

  display: flex;
  align-items: center;
}
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--link-hover-color);
}
.team-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-paragraph);
  margin-bottom: 124px;
}

/*----------------Подвал-------------------*/

.footer {
  background-color: var(--footer-color);

  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}
.footer-link-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--color-white);
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--color-white);
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}
.footer-link-mail:hover,
.footer-link-mail:focus {
  color: var(--link-hover-color);
}
.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--link-hover-color);
}
.footer-link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-hover-color);
}
.footer-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--color-white);
  padding-top: 20px;
  padding-bottom: 9px;
}
.btn-nav-prtf {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: var(--header-color);
  border-radius: 4px;
}
.btn-nav-prtf:hover,
.btn-nav-prtf:focus {
  color: var(--color-white);
  background: var(--link-hover-color);
}

.btn-item {
}

.h3-about {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--header-color);
}
.text-about {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-paragraph);
}

/*----------------Портфолио---------------*/
.btn-list {
  display: flex;
}
.list-about {
}
